In [3]:
import os
import sys

import numpy as np
import pandas as pd
import seaborn as sns

import skombo
from loguru import logger as log


from pandas.io.formats.style import Styler
from skombo import TEST_COMBO_CSVS
from skombo.combo_calc import ComboCalculator

pd.set_option("display.max_columns", 20)
pd.set_option("display.max_colwidth", 20)
pd.set_option("display.width", 100)

In [4]:
from skombo.fd_ops import get_fd_bot_character_manager


combo_calc = ComboCalculator(get_fd_bot_character_manager(), skombo.TEST_COMBO_CSVS[0])

combo_calc.process_combos()

for combo in combo_calc.combos:
    display(combo.combo_df)

Loaded 3 combos from C:\Users\micah\repos\skugs\tests\test_data\annie_test_combos.csv

,character,move_name,damage,scaling_effect,scaling_for_hit,scaling_after_modifiers,scaled_damage,summed_damage
0,NaN,2HP,1200.0,NaN,1.000000,1.000000,1200.0,1200.0
1,NaN,OTG,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,M CRESCENT CUT,550.0,NaN,1.000000,1.000000,550.0,1750.0
3,NaN,5MP,500.0,NaN,0.875000,0.875000,437.0,2187.0
4,NaN,5HP,700.0,NaN,0.765625,0.765625,535.0,2722.0
5,NaN,5HP X2,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KARA,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,RE ENTRY,300.0,NaN,0.669922,0.669922,200.0,2922.0
8,NaN,66,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,JHP,875.0,NaN,0.586182,0.586182,512.0,3434.0
10,NaN,5HK,950.0,NaN,0.512909,0.512909,487.0,3921.0
11,NaN,JC,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,JLK,300.0,NaN,0.448795,0.448795,134.0,4055.0
13,NaN,JHP,875.0,NaN,0.392696,0.392696,343.0,4398.0
14,NaN,ADC,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,JLP,250.0,NaN,0.343609,0.343609,85.0,4483.0
16,NaN,JMP,250.0,NaN,0.300658,0.300658,75.0,4558.0
17,NaN,JMP,250.0,NaN,0.263076,0.263076,65.0,4623.0
18,NaN,JMP,250.0,NaN,0.230191,0.230191,57.0,4680.0
19,NaN,JMP,250.0,NaN,0.201417,0.201417,50.0,4730.0
20,NaN,5LK,200.0,NaN,0.200000,0.200000,40.0,4770.0
21,NaN,5LK,200.0,NaN,0.200000,0.200000,40.0,4810.0
22,NaN,5LK,300.0,NaN,0.200000,0.200000,60.0,4870.0
23,NaN,2MP,600.0,NaN,0.200000,0.200000,120.0,4990.0
24,NaN,5MK,400.0,NaN,0.200000,0.200000,80.0,5070.0
25,NaN,5MK X2,500.0,NaN,0.200000,0.200000,100.0,5170.0
26,NaN,5HP,700.0,NaN,0.200000,0.200000,140.0,5310.0
27,NaN,H NORTH KNUCKLE,650.0,NaN,0.200000,0.200000,130.0,5440.0

,character,move_name,damage,scaling_effect,scaling_for_hit,scaling_after_modifiers,scaled_damage,summed_damage
0,NaN,2HP,1200.0,NaN,1.000000,1.000000,1200.0,1200.0
1,NaN,OTG,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,M CRESCENT CUT,550.0,NaN,1.000000,1.000000,550.0,1750.0
3,NaN,5MP,500.0,NaN,0.875000,0.875000,437.0,2187.0
4,NaN,5HP,700.0,NaN,0.765625,0.765625,535.0,2722.0
5,NaN,5HP X2,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KARA,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,RE ENTRY,300.0,NaN,0.669922,0.669922,200.0,2922.0
8,NaN,66,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,JHP,875.0,NaN,0.586182,0.586182,512.0,3434.0
10,NaN,5HK,950.0,NaN,0.512909,0.512909,487.0,3921.0
11,NaN,JC,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,JLK,300.0,NaN,0.448795,0.448795,134.0,4055.0
13,NaN,JHP,875.0,NaN,0.392696,0.392696,343.0,4398.0
14,NaN,ADC,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,JLP,250.0,NaN,0.343609,0.343609,85.0,4483.0
16,NaN,JMP,250.0,NaN,0.300658,0.300658,75.0,4558.0
17,NaN,JMP,250.0,NaN,0.263076,0.263076,65.0,4623.0
18,NaN,JMP,250.0,NaN,0.230191,0.230191,57.0,4680.0
19,NaN,JMP,250.0,NaN,0.201417,0.201417,50.0,4730.0
20,NaN,5LK,200.0,NaN,0.200000,0.200000,40.0,4770.0
21,NaN,5LK,200.0,NaN,0.200000,0.200000,40.0,4810.0
22,NaN,5LK,300.0,NaN,0.200000,0.200000,60.0,4870.0
23,NaN,5MP,500.0,NaN,0.200000,0.200000,100.0,4970.0
24,NaN,5MK,400.0,NaN,0.200000,0.200000,80.0,5050.0
25,NaN,5MK X2,500.0,NaN,0.200000,0.200000,100.0,5150.0
26,NaN,5HP,700.0,NaN,0.200000,0.200000,140.0,5290.0
27,NaN,H NORTH KNUCKLE,650.0,NaN,0.200000,0.200000,130.0,5420.0

,character,move_name,damage,scaling_effect,scaling_for_hit,scaling_after_modifiers,scaled_damage,summed_damage
0,NaN,2HP,1200.0,NaN,1.000000,1.000000,1200.0,1200.0
1,NaN,OTG,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,M CRESCENT CUT,550.0,NaN,1.000000,1.000000,550.0,1750.0
3,NaN,5MP,500.0,NaN,0.875000,0.875000,437.0,2187.0
4,NaN,5HP,700.0,NaN,0.765625,0.765625,535.0,2722.0
5,NaN,5HP X2,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KARA,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,RE ENTRY,300.0,NaN,0.669922,0.669922,200.0,2922.0
8,NaN,66,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,JHP,875.0,NaN,0.586182,0.586182,512.0,3434.0
10,NaN,5HK,950.0,NaN,0.512909,0.512909,487.0,3921.0
11,NaN,JC,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,JLK,300.0,NaN,0.448795,0.448795,134.0,4055.0
13,NaN,JHP,875.0,NaN,0.392696,0.392696,343.0,4398.0
14,NaN,ADC,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,JLP,250.0,NaN,0.343609,0.343609,85.0,4483.0
16,NaN,JMP,250.0,NaN,0.300658,0.300658,75.0,4558.0
17,NaN,JMP,250.0,NaN,0.263076,0.263076,65.0,4623.0
18,NaN,JMP,250.0,NaN,0.230191,0.230191,57.0,4680.0
19,NaN,JMP,250.0,NaN,0.201417,0.201417,50.0,4730.0
20,NaN,5LP,300.0,NaN,0.200000,0.200000,60.0,4790.0
21,NaN,5LP X2,300.0,NaN,0.200000,0.200000,60.0,4850.0
22,NaN,5MP,500.0,NaN,0.200000,0.200000,100.0,4950.0
23,NaN,5MK,400.0,NaN,0.200000,0.200000,80.0,5030.0
24,NaN,5MK X2,500.0,NaN,0.200000,0.200000,100.0,5130.0
25,NaN,5HP,700.0,NaN,0.200000,0.200000,140.0,5270.0
26,NaN,H NORTH KNUCKLE,650.0,NaN,0.200000,0.200000,130.0,5400.0

In [5]:
def color_code(col: pd.Series, pal: str):
    try:
        unique = col.loc[col.apply(pd.notna)].unique()
    except TypeError:
        # handle case where col is a series of lists by flattening each list into a string
        col = col.apply(lambda x: ",".join(x) if isinstance(x, list) else x)
        try:
            unique = col.loc[col.apply(pd.notna)].unique()
        except TypeError:
            # handle case where col is a series of dicts by flattening each dict into a string
            col = col.apply(
                lambda x: ",".join(":".join([str(k), str(v)]) for k, v in x.items())
                if isinstance(x, dict)
                else x
            )
            unique = col.loc[col.apply(pd.notna)].unique()

    palette = sns.color_palette(pal, len(unique))
    # dict of {unique value: colour}
    colour_map = {unique[i]: palette[i] for i in range(len(unique))}  # type: ignore
    # Seperate dict for text colour, invert the hex values for now
    text_colour_map = dict(colour_map)
    # r,g,b is a tuple of floats
    for k, v in text_colour_map.items():
        r, g, b = v
        luma = 0.2126 * r + 0.7152 * g + 0.0722 * b  # type: ignore
        text_colour_map[k] = "#ffffff" if luma < 0.5 else "#000000"

    # convert to hex
    colour_map = {
        # type: ignore
        k: sns.palettes.color_palette([v]).as_hex()[0]  # type: ignore
        for k, v in colour_map.items()
    }
    text_colour_map = {
        k: sns.palettes.color_palette([v]).as_hex()[0]  # type: ignore
        for k, v in text_colour_map.items()
    }

    def color_cell(val):
        return (
            f"background-color: {colour_map[val]} ; color: {text_colour_map[val]}"
            if pd.notna(val)
            else ""
        )

    return col.apply(color_cell)

In [6]:
test_import = ComboCalculator(TEST_COMBO_CSVS[0])

display(test_import.input_combos.style.apply(color_code, pal="Set2"))  # type: ignore
test_import.input_combos.dtypes

name                  object
character             object
assist_1              object
assist_2              object
own_team_size         object
opponent_team_size    object
notation              object
counter_hit           object
undizzy               object
expected_damage       object
meter                 object
dtype: object

In [7]:
# Filter out the columns we don't want to display
remove_cols = [FD_COLS.a_names, FD_COLS.footer, FD_COLS.footer_url, FD_COLS.thumb_url]
cols_to_display = [col for col in FD.columns if col not in remove_cols]


def df_snapshot(df, rows=30):
    displaydf = df.head(rows)
    displaydf = pd.concat(
        [
            displaydf,
            pd.DataFrame(
                data=[[np.nan] * len(displaydf.columns)],
                columns=displaydf.columns,
            ),
        ]
    )
    displaydf = pd.concat([displaydf, df.tail(rows)])

    return displaydf


df_snapshot(FD[cols_to_display]).style.apply(color_code, pal="Set2")  # type: ignore

NameError: name 'FD_COLS' is not defined